<template>
  <div class="IndexPage">
    <div class="row">
      <div class="col-md-9">
        <div class="row gx-4 gy-4">
          <div class="col-md-4" v-for="(product, index) in list_products" :key="index">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.desc }}</p>
                <p class="card-text">{{ product.price }} €</p>
                <button @click="add_to_cart(product.id)" class="btn btn-success">Ajouter au panier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Cart</h5>
          </div>
        </div>
        <div v-for="(value, id) in list_cart" :key="id" class="mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ get_info_product(id).name }}</h5>
              <h6>Quantity: {{ value }}</h6>
              <button @click="remove_from_cart(id)" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total: {{ total_price }} €</h5>
            <h6>Nombre de produits: {{ nbr_product }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Stock, Cart } from '../manager';

export default {
  name: 'IndexPage',
  data() {
    return {
      stock: new Stock(),
      cart: new Cart(),
      list_products: [],
      list_cart: {},
      total_price: 0,
      nbr_product: 0
    };
  },
  async created() {
    await this.stock.init();
    this.list_products = this.stock.get_list_product();
  },
  methods: {
    add_to_cart(id) {
      this.cart.addInCart(id);
      this.update_cart();
    },
    remove_from_cart(id) {
      this.cart.removeFromCart(id);
      this.update_cart();
    },
    get_info_product(id) {
      return this.stock.get_prod_by_id(id);
    },
    update_cart() {
      this.list_cart = this.cart.get_list_cart();
      this.update_total();
    },
    update_total() {
      this.total_price = this.cart.get_total_price(this.stock);
      this.nbr_product = this.cart.get_nbr_product();
    }
  }
};
</script>

<style scoped>
</style>
